---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Presentation Ace | Executive PowerPoint Designer and Specialist
    </title>
    <meta
      name="description"
      content="Executive PowerPoint presentation design for founders, VPs, and senior leaders."
    />
  </head>
  <body>
    <h1>Coming Soon!</h1>
    <a href="https://aecel.github.io/presentation-design"
      >Check out the temporary site here</a
    >
    <a href="https://portal.presentationace.com"
      >Click here to go to client portal</a
    >
  </body>
</html>
